body{
  text-align: center;
 
}
.background{
  position: relative; 
    height: 90.5vh;
    width: 100%;
    display: flex;
    opacity: 0.4;
    background-image: url("https://cdn.shopify.com/s/files/1/0376/8545/files/IMG_20190111_134240_1400x.jpg?v=1648834577");
  }
  .text{
    position:absolute;
    top: 30vh;
    left: 30vw;
    font-family: 'Roboto', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Smooch', cursive;
font-family: 'Yellowtail', cursive;
font-size: 90px;
  }
  .wishlist{
    border: 0px solid;
    
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 10vw;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
